.alterafonte {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#cima {
    text-align: center;
}

#cimalinha {
    width: 10%;
}

#iconesTopo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#textoUmEsquerda {
    text-align: left;
}

.iconeEspaco{
    margin-left: 50px;

}

#alinharCard {
    float: left;
}

.lbt {
    width: 100%;
    color:black;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

.navbar{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.123);
}

hr{
    width: 70%;
}

.fundofloat{
    background-color: whitesmoke;
    margin: 50px 0;
}

#hrum{
    color: #F8f9fa;
}

#link-topo{
    text-decoration: none;
    padding: 10px;
    color:rgb(255, 255, 255);
    background-color: rgba(39, 199, 52, 0.85);
    border-radius: 20px;
    position: fixed;
    right: 3px;
    bottom: 15px;
    margin-right: 10px;
}

#b1{
    background-color: aquamarine;
}

#f2{
    margin-top: 30px;
    padding: 150px 60px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 20px 30px 10px rgba(0, 0, 0, 0.082);
    background-image: url("../imagens/3.jpg");
    color: black;
}

#h51{
    color:black;
}

#h52{
    color: black;
}
