.alterafonte {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#cima {
    text-align: center;
}

#cimalinha {
    width: 10%;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}

.navbar{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.123);
}

.imgfloat{
    margin-left: 10%;
    margin-bottom: 5%;
    width: 85%;
    border-radius: 12px;
    box-shadow: 0 20px 30px 10px rgba(0, 0, 0, 0.288);
}

hr{
    width: 70%;
}

.fundofloat{
    background-color: #F8f9fa;
    margin: 50px 0;
}

#hrum{
    color: #F8f9fa;
}

#link-topo{
    text-decoration: none;
    padding: 20px;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 20px;
    position: fixed;
    right: 3px;
    bottom: 15px;
    margin-right: 10px;
}

#b1{
    background-color: aquamarine;
}

#f2{
    margin-top: 30px;
    padding: 150px 60px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 20px 30px 10px rgba(0, 0, 0, 0.384);
    background-image: url("../imagens/3.jpg");
    color: black;
}

#h51{
    color:black;
}

#h52{
    color: black;
}
.txt{
    color:black;
    margin-left: 5%;
    margin-bottom: 5%;
}